In [3]:
s = str(input())
print(s[::-1])

 aayush

hsuyaa

In [7]:
s = str(input())
l = s[::-1]
if(s==l):
    print(s,"is Palindrome")
else:
    print(s,"is not Palindrome")

 aayush

aayush is not Palindrome

In [8]:
s = str(input())
print(s.upper())

 aayush

AAYUSH

In [10]:
s = str(input())
print(s.lower())

 AAYUSH

aayush

In [16]:
sentence = input("Enter a sentence: ")
vowel = "aeiou"
count=0
for char in sentence:
    if char in vowel:
        count += 1
print("Number of vowels in the sentence:", count)

Enter a sentence:  amsterdam

Number of vowels in the sentence: 3

In [14]:
sentence = input("Enter a sentence: ")
consonant = "bcdfghjklmnpqrstvwxyz"
count = 0
for char in sentence:
    if char in consonant:
        count += 1
print("Number of consonants in the sentence:", count)

Enter a sentence:  aayushi

Number of consonants in the sentence: 3

In [18]:
sentence = str(input("Enter a Sentence: "))
print(sentence.replace(" ", ""))

Enter a Sentence:  my name is aayush

mynameisaayush

In [19]:
s = str(input("Enter a String"))
length=0
for _ in s:
    length+=1
print("Length of string ",s,"is ",length)

Enter a String aayush

Length of string  aayush is  6

In [23]:
s = "Hello Pwskills"
s2="Hello"
index = s.find(s2)
if index != -1:
    print(f'"{s}" contains "{s2}"')
else:
    print(f'"{s}" does not contain "{s2}"')

"Hello Pwskills" contains "Hello"

In [24]:
s = "Hello Pwskills"
print(s.replace("Pwskills", "World"))

Hello World

In [25]:
s = "Hello Pwskills, Hello Aayush"
print(s.count("Hello"))

2

In [29]:
s = "Hello Pwskills, Hello Aayush, Hello World"
ind = s.find("Hello")
print("Hello first occurence is at index ", ind)

Hello first occurence is at index  0

In [30]:
s = "Hello Pwskills, Hello Aayush, Hello World"
ind = s.rfind("Hello")
print("Hello last occurence is at index ", ind)

Hello last occurence is at index  30

In [49]:
s= "Hello I am Aayush I am 20 yrs old"
x=s.split(" ")
print (x)

['Hello', 'I', 'am', 'Aayush', 'I', 'am', '20', 'yrs', 'old']

In [50]:
s=['P','w','s','k','i','l','l','s']
a=""
a=a.join(s)
print(a)

Pwskills

In [51]:
s= "Hello I am Aayush I am 20 yrs old"
s1= s.replace(" ","_")
print(s1)

Hello_I_am_Aayush_I_am_20_yrs_old

In [52]:
s= "I am Aayush I am 20 yrs old"
print(s.startswith("I"))

True

In [53]:
s="I am Aayush I am 20 yrs old"
print(s.endswith("old"))

True

In [54]:
s="hello world"
print(s.title())

Hello World

In [56]:
s="Binary Study Python Programming"
a= s.split()
maxword= max(a, key=len)
print("In string",s,"the max length word is",maxword)

In string Binary Study Python Programming the max length word is Programming

In [57]:
s="Binary Study Python Programming"
a= s.split()
minword= min(a, key=len)
print("In string",s,"the shortest length word is",minword)

In string Binary Study Python Programming the shortest length word is Study

In [61]:
print(s)
s1=s[::-1]
print("Reverse of",s,"is:",s1)

Binary Study Python Programming
Reverse of Binary Study Python Programming is: gnimmargorP nohtyP ydutS yraniB

In [63]:
s= "1234Hello5678"
s.isalnum()

True

In [69]:
s="There are 2 apples and 4 bananas"
print("Original string:",s)
l=[]
x=s.split()
for i in x:
    if i.isnumeric():
        l.append(int(i))
print("Extracted digits are:" + str(l))

Original string: There are 2 apples and 4 bananas
Extracted digits are:[2, 4]

In [70]:
s="There are 2 apples and 4 bananas"
print("Original string:",s)
l=[]
x=s.split()
for i in x:
    if i.isalpha():
        l.append(str(i))
print("Extracted alphabets are:" + str(l))

Original string: There are 2 apples and 4 bananas
Extracted alphabets are:['There', 'are', 'apples', 'and', 'bananas']

In [71]:
s="There are 2 Apples and 4 Bananas"
upper_case_count=0
for i in s:
    if i.isupper():
        upper_case_count+=1
print("Upper Case letters count are:",upper_case_count)

Upper Case letters count are: 3

In [72]:
s="There are 2 Apples and 4 Bananas"
lower_case_count=0
for i in s:
    if i.islower():
        lower_case_count+=1
print("Lower Case letters count are:",lower_case_count)

Lower Case letters count are: 21

In [74]:
s="Aayush"
x=s.swapcase()
print(x)

aAYUSH

In [76]:
s="There are 2 Apples and 4 Bananas"
s1=s.replace("and","")
print(s1)

There are 2 Apples  4 Bananas

In [80]:
s= str(input("Enter Email Address:"))
if s.count("@")!=1:
    print("@ is not there in the given email:",s)
else:
    uname,domain= s.split("@")
if len(uname)==0 or len(domain)==0:
    print("Username or Domain not provided")
elif domain.find('.')==-1:
    print(". is not found")
else:
    print(s," is a valid email id")

Enter Email Address: aayushbusiness07@gmail.com

aayushbusiness07@gmail.com  is a valid email id

In [81]:
s= str(input("Enter Email Id:"))
uname, domain= s.split("@")
print("Username is:", uname)

Enter Email Id: user@domain.com

Username is: user

In [82]:
s= str(input("Enter Email Id:"))
uname, domain= s.split("@")
print("Domain Name is:", domain)

Enter Email Id: user@example.com

Domain Name is: example.com

In [84]:
s="Welcome    Aayush"
s1= " ".join(s.split())
print(s1)

Welcome Aayush

In [85]:
s= str(input("Enter URL:"))
if s.count("//:")!=1:
    print("//: is not there in the given url:",s)
else:
    pro,link= s.split("//")
if len(pro)==0 or len(link)==0:
    print("Protocol/Link not provided")
elif link.find("www")==-1:
    print("www is not found")
elif link.find(".")==-1:
    print(". is not found")
elif link.find("com")==-1:
    print("com is not found")
else:
    print(s," is a valid URL")

Enter URL: https//:www.example.com

https//:www.example.com  is a valid URL

In [86]:
s= str(input("Enter URL:"))
pro, link= s.split("//:")
print("Protocol is:", pro)

Enter URL: https//:www.pwskills.com

Protocol is: https

In [91]:
input_string = "hello, world!"
frequency_str = ""
for char in input_string:
    if char not in frequency_str:
        count = input_string.count(char)
        frequency_str += f'{char}:{count}, '
frequency_str = frequency_str[:-2]
print(frequency_str)

h:1, e:1, l:3, o:2, w:1, r:1, d:1, !:1

In [97]:
s= "Hello, World!"
punc='!,@#$%^&*:";'
for i in s:
    if i in punc:
        s=s.replace(i,"")
print (s)

Hello World

In [102]:
s= input("Enter a String:")
if(s.isdigit()==True):
    print(s,"contains digit only")
else:
    print(s,"also contains alpha values & etc")

Enter a String: 1234565

1234565 contains digit only

In [103]:
s= str(input("Enter a String:"))
if(s.isalpha()==True):
    print(s,"contains alphabets only")
else:
    print(s,"also contains num values & etc")

Enter a String: aayush

aayush contains alphabets only

In [104]:
s= str(input("Enter a String:"))
x=list(s)
print(x)

Enter a String: aayush

['a', 'a', 'y', 'u', 's', 'h']

In [107]:
s1=str(input("Enter a String-1:"))
s2=str(input("Enter a String-2:"))
if (sorted(s1)==sorted(s2)):
    print(s1,"&",s2,"are anagrams")
else:
    print(s1,"&",s2,"are not anagrams")

Enter a String-1: listen
Enter a String-2: silent

listen & silent are anagrams

In [109]:
plaintext = "Hello, World!"
shift = 3
encrypted_text = ""
for char in plaintext:
    if char.isalpha():
        is_upper = char.isupper()
        char_code = ord(char)
        encrypted_code = (char_code - ord('A' if is_upper else 'a') + shift) % 26
        encrypted_char = chr(encrypted_code + ord('A' if is_upper else 'a'))
        encrypted_text += encrypted_char
    else:
        encrypted_text += char
print(f"Original Text: {plaintext}")
print(f"Encrypted Text: {encrypted_text}")

Original Text: Hello, World!
Encrypted Text: Khoor, Zruog!

In [112]:
encrypted_text = "Khoor, Zruog!"
shift = 3
decoded_text = ""
for char in encrypted_text:
    if char.isalpha():
        is_upper = char.isupper()
        char_code = ord(char)
        decoded_code = (char_code - ord('A' if is_upper else 'a') - shift) % 26
        decoded_char = chr(decoded_code + ord('A' if is_upper else 'a'))
        decoded_text += decoded_char
    else:
        decoded_text += char
print(f"Encrypted Text: {encrypted_text}")
print(f"Decoded Text: {decoded_text}")

Encrypted Text: Khoor, Zruog!
Decoded Text: Hello, World!

In [119]:
input_string = "This is an example string. This contains repeated words"
words = input_string.split()
most_frequent_word = ""
max_frequency = 0
for word in words:
    word = word.strip(".,!?'\"")
    word_lower = word.lower()
    frequency = sum(1 for w in words if w.lower() == word_lower)
    if frequency > max_frequency:
        most_frequent_word = word_lower
        max_frequency = frequency
print("The most frequent word is:", most_frequent_word, "& Frequency:", max_frequency)

The most frequent word is: this & Frequency: 2

In [122]:
s="aayush is aayush"
s=s.split(' ')
duplicates=[]
for i in s:
    if i not in duplicates:
        duplicates.append(i)
print(duplicates)

['aayush', 'is']

In [123]:
s="This is an example string with multiple syllables."
vowels="aeiouAEIOU"
syllables=0
for i in s:
    if i in vowels:
        syllables+=1
print("The number of syllables is:",syllables)

The number of syllables is: 13

In [129]:
s="#Hello! There:"
spe='!@#$%^&*'
if any(i in spe for i in s):
    print(s,"contains special character")
else:
    print(s,"doesn't contains special character")

#Hello! There: contains special character

In [131]:
s= str(input("Enter a string:"))
n= int(input("Enter the nth index of the word which is to be deleted/removed:"))
x=s.split()
if 0<=n<=len(x):
    del x[n]
    s1= " ".join(x)
    print("The string after removing the nth word is:",s1)
else:
    print("Invalid Index")

Enter a string: Aayush is a Good Boy
Enter the nth index of the word which is to be deleted/removed: 3

The string after removing the nth word is: Aayush is a Boy

In [132]:
s= str(input("Enter a string:"))
n= int(input("Enter the nth index at which the word is to be inserted: "))
s1=str(input("Enter a new word:"))
x=s.split()
if 0<=n<=len(x):
    x.insert(n,s1)
    s1= " ".join(x)
    print("The string after inserting the word at the nth position is:", s1)
else:
    print("Invalid Index")

Enter a string: Aayush is intelligent boy
Enter the nth index at which the word is to be inserted:  2
Enter a new word: an

The string after inserting the word at the nth position is: Aayush is an intelligent boy

In [1]:
import csv
import io
csv_string = """Name, Age, City
John, 30, New York
Alice, 25, Los Angeles
Bob, 35, Chicago
"""
csv_list = list(csv.reader(io.StringIO(csv_string)))
for row in csv_list:
    print(row)

['Name', ' Age', ' City']
['John', ' 30', ' New York']
['Alice', ' 25', ' Los Angeles']
['Bob', ' 35', ' Chicago']

In [3]:
l=[1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
l=[1,2,3,4,5,6,7,8,9,10]
length=0
for _ in l:
    length+=1
print("Length of list is",length)

Length of list is 10

In [8]:
l=[1,2,3,4,5,6,7,8,9,10]
l.append(11)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
l.insert(0,0)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
l.remove(0)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
del l[5]
print(l)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

In [12]:
l=[1,2,3,4,5,6]
n=int(input("Enter an Element:"))
if n in l:
    print("Exist")
else:
    print("Not Exist")

Enter an Element: 4

Exist

In [13]:
print(l.index(4))

3

In [14]:
l=[1,2,3,4,5,1]
l.count(1)

2

In [16]:
l=[1,2,3,4,5,6,7,8,9]
l.reverse()
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
l=[3,1,6,2,9,4,7,5,8]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
l=[3,1,6,2,9,4,7,5,8]
l.sort()
l.reverse()
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
l=[]
for i in range(1,21):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
l=[]
for i in range(0,20):
    if i%2==1:
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
l=[1,2,3,4,5]
total=0
for i in l:
    total+=i
print(total)

15

In [23]:
l=[1,2,3,4,5,6]
max_no=max(l)
print("The max value in list:", max_no)

The max value in list: 6

In [24]:
l=[1,2,3,4,5,6]
min_no=min(l)
print("The min value in list:", min_no)

The min value in list: 1

In [27]:
l=[]
for i in range(1,11):
    l.append(i*i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
import random
l=[]
n=10
for i in range(n):
    l.append(random.randint(0,100))
print(l)

[24, 80, 95, 71, 96, 58, 33, 94, 50, 42]

In [31]:
l = [1, 2, 2, 3, 4, 4, 5]
ul= list(set(l))
print("List after removing duplicates:", ul)

List after removing duplicates: [1, 2, 3, 4, 5]

In [35]:
l1=[1,2,3,4,5]
l2=[3,4,5,6,7]
common=list(set(l1) & set(l2))
print("Common Elements", common)

Common Elements [3, 4, 5]

In [33]:
l1=[1,2,3,4,5]
l2=[3,4,5,6,7]
dl=list(set(l1) - set(l2))
print("Difference List", dl)

Difference List [1, 2]

In [1]:
l1=[1,2,3]
l2=[4,5,6,7]
merged_list= l1 +l2
print("Merged List",merged_list)

Merged List [1, 2, 3, 4, 5, 6, 7]

In [1]:
original_list = [1, 2, 3, 4, 5]
doubled_list = [x * 2 for x in original_list]
print(doubled_list)

[2, 4, 6, 8, 10]

In [1]:
original_list = [1, 2, 3, 4, 5]
filtered_list=[]
for j in original_list:
    if(j%2!=0):
        filtered_list.append(j)
print(filtered_list)

[1, 3, 5]

In [3]:
strl=["1","2","3","4","5"]
intl = [int(x) for x in strl]
print(intl)

[1, 2, 3, 4, 5]

In [4]:
intl=[1,2,3,4,5]
strl = [str(x) for x in intl]
print(strl)

['1', '2', '3', '4', '5']

In [5]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
fibonacci_list = [0, 1]
for _ in range(8):
    next_number = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_number)
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [9]:
list1=[10,2,6,4,5]
flag=0
list2=list1[:]
list2.sort()
if(list2==list1):
    flag=1
if(flag):
    print("Yes it's sorted")
else:
    print("No it's not sorted")

No it's not sorted

In [10]:
test=[1,2,3,4,5,6]
n= int(input("Enter nth number:"))
test= test[n:] + test[:n]
print("Left rotation of list by",n,":",test)

Enter nth number: 4

Left rotation of list by 4 : [5, 6, 1, 2, 3, 4]

In [12]:
test=[1,2,3,4,5,6]
n= int(input("Enter -nth number:"))
test= test[n:] + test[:n]
print("Right rotation of list by",n,":",test)

Enter -nth number: -5

Right rotation of list by -5 : [2, 3, 4, 5, 6, 1]

In [15]:
l5=[]
for i in range(2,51):
    for j in range(2, int(i**0.5)+1):
        if i%j==0:
            break
    else:
        l5.append(i)
print(l5)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [16]:
my_list=[1,2,3,4,5,6,7,8,9]
start=0
end= len(my_list)
step= int(input("Enter Size n:"))
for i in range(start,end,step):
    x=i
    print(my_list[x:x+step])

Enter Size n: 3

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [21]:
my_list=[3,2,6,9,2,8]
new_list= sorted(my_list)
print("Second Largest Number in the List is:",new_list[-2])

Second Largest Number in the List is: 8

In [27]:
lst=[1,2,3,4,5]
for i in range(len(lst)):
    lst[i]=lst[i]*lst[i]
print(lst)

[1, 4, 9, 16, 25]

In [28]:
lst1=['a','b','c','d','e']
dict1={}
for i in range(len(lst1)):
    dict1[lst1[i]]=i
print(dict1)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [29]:
import random
lst=[1,2,3,4,5]
random.shuffle(lst)
print (lst)

[4, 5, 3, 1, 2]

In [33]:
factorial_numbers = [1] 
for i in range(2, 11):
    factorial_numbers.append(factorial_numbers[-1] * i)
print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [38]:
lst1=[1,2,3,4,5]
lst2=[5,6,7,8,9]
common= list(set(lst1)& set(lst2))
if(common):
    print("Common elements are:",common)
else:
    print("No Common Elements")

Common elements are: [5]

In [39]:
lst1=[1,2,3,4,5,6]
lst1.clear()
print(lst1)

[]

In [43]:
lst1=[-2,-1,-3,0,1,2,3]
new_lst = [max(0, num) for num in lst1]
print("New List:",new_lst)

New List: [0, 0, 0, 0, 1, 2, 3]

In [44]:
b=str(input("Enter a string"))
bst=b.split(" ")
print(bst)

Enter a string aayush is a smart boy

['aayush', 'is', 'a', 'smart', 'boy']

In [46]:
print(" ".join(bst))

aayush is a smart boy

In [47]:
n= int(input("Enter number:"))
power=[]
for i in range(1,n+1):
    power.append(2**i)
print(power)

Enter number: 7

[2, 4, 8, 16, 32, 64, 128]

In [50]:
print("Original List:",bst)
max_len=-1
for i in bst:
    if len(i)>max_len:
        max_len= len(i)
        res=i
print("longest word:",res)

Original List: ['aayush', 'is', 'a', 'smart', 'boy']
longest word: aayush

In [51]:
print("Original List:",bst)
min_len=100
for i in bst:
    if len(i)<min_len:
        min_len= len(i)
        res=i
print("Shortest word:",res)

Original List: ['aayush', 'is', 'a', 'smart', 'boy']
Shortest word: a

In [60]:
n= int(input("Enter Number:"))
tlst=[]
for j in range(1,n+1):
    tlst.append(j*(j+1)//2)
print(tlst)

Enter Number: 7

[1, 3, 6, 10, 15, 21, 28]

In [64]:
list1=[1,2,3,4,5,6]
list2=[2,4,6]
print("Original List",list1,"Second List",list2)
flag=0
if(all(a in list1 for a in list2)):
    flag=1
if(flag):
    print("Yes it's a subsequent list")
else:
    print("No it's not a subsequent list")

Original List [1, 2, 3, 4, 5, 6] Second List [2, 4, 6]
Yes it's a subsequent list

In [66]:
print("Original List:",list1)
pos1=int(input("Enter 1st Index:"))
pos2=int(input("Enter 2nd Index:"))
if 0 <= pos1 < len(list1) and 0 <= pos2 < len(list1):
    list1[pos1], list1[pos2] = list1[pos2], list1[pos1]
    print("List after swapping:", list1)
else:
    print("Invalid indices. Please ensure indices are within the range of the list.")

Original List: [1, 2, 3, 4, 5, 6]

Enter 1st Index: 2
Enter 2nd Index: 4

List after swapping: [1, 2, 5, 4, 3, 6]

In [70]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [75]:
print(my_tuple.index(3))

2

In [76]:
tuplen=0
for _ in my_tuple:
    tuplen+=1
print("Length of tuple is", tuplen)

Length of tuple is 5

In [86]:
print(my_tuple)
n= int(input("Enter Element you want to count:"))
print(my_tuple.count(n))

(1, 2, 3, 4, 5)

Enter Element you want to count: 4

1

In [87]:
my_tuple=(3,4,5,6,7,8)
print(my_tuple.index(3))

0

In [90]:
my_tuple=(3,4,5,6,7,8)
n=int(input("Enter Element from Tuple:"))
if(my_tuple.count(n)==1):
    print("Element Exists")
else:
    print("Element dosen't exist")

Enter Element from Tuple: 4

Element Exists

In [91]:
new_list=list(my_tuple)
print(new_list)

[3, 4, 5, 6, 7, 8]

In [93]:
new_tuple= tuple(new_list)
print(new_tuple)

(3, 4, 5, 6, 7, 8)

In [3]:
new_tuple=(3, 4, 5, 6, 7, 8)
a,b,c,d,e,f= new_tuple
print("Elements in tuples:",a,b,c,d,e,f)

Elements in tuples: 3 4 5 6 7 8

In [6]:
new_tupl=()
new_lst1= list(new_tupl)
for i in range(1,11):
    if(i%2==0):
        new_lst1.append(i)
new_tupl=tuple(new_lst1)
print(new_tupl)

(2, 4, 6, 8, 10)

In [7]:
new_tupl=()
new_lst1= list(new_tupl)
for i in range(1,10):
    if(i%2!=0):
        new_lst1.append(i)
new_tupl=tuple(new_lst1)
print(new_tupl)

(1, 3, 5, 7, 9)

In [8]:
tupl1=(1,2,3)
tupl2=(4,5,6)
tupl_new= tupl1 + tupl2
print(tupl_new)

(1, 2, 3, 4, 5, 6)

In [9]:
nt=tupl_new*3
print(nt)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
nt=()
if(len(nt)==0):
    print("Tuple is empty")
else:
    print("Tuple has elements")

Tuple is empty

In [18]:
nt=(0,1,2,3,4,(5,6,7),8,9)
print(nt)

(0, 1, 2, 3, 4, (5, 6, 7), 8, 9)

In [20]:
nt.index(0)

0

In [21]:
nt1=(10)
print(nt1)

10

In [27]:
nt2=(1,2)
if(nt1==nt2):
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are not equal

In [29]:
del(nt2)

In [30]:
nt=(1,2,3,4,5,6,7,8,9)
print(nt[2:6])

(3, 4, 5, 6)

In [31]:
max_value= max(nt)
print(max_value)

9

In [32]:
min_value= min(nt)
print(min_value)

1

In [33]:
str1= str(input("Enter a String"))
tul=tuple(str1)
print(tul)

Enter a String aayush

('a', 'a', 'y', 'u', 's', 'h')

In [37]:
new_str1="".join(tul)
print(new_str1)

aayush

In [38]:
mtul=(1,"aayush",99)
print(mtul)

(1, 'aayush', 99)

In [1]:
nt1=(1,2,3)
nt2=(1,2,3)
if(nt1==nt2):
    print("Tuples are Identical")

Tuples are Identical

In [16]:
nt3=(6,2,9,7,5,8)
lt3=list(nt3)
lt3.sort()
lt3=tuple(lt3)
print("Sorted set",lt3)

Sorted set (2, 5, 6, 7, 8, 9)

In [22]:
original_tuple = (6, 2, 9, 7, 5, 8)
converted_tuple = tuple(str(i) for i in original_tuple)
print("Original Tuple:", original_tuple)
print("Converted Tuple:", converted_tuple)

Original Tuple: (6, 2, 9, 7, 5, 8)
Converted Tuple: ('6', '2', '9', '7', '5', '8')

In [23]:
original_tuple = ('6', '2', '9', '7', '5', '8')
converted_tuple = tuple(int(i) for i in original_tuple)
print("Original Tuple:", original_tuple)
print("Converted Tuple:", converted_tuple)

Original Tuple: ('6', '2', '9', '7', '5', '8')
Converted Tuple: (6, 2, 9, 7, 5, 8)

In [30]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged Tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Merged Tuple: (1, 2, 3, 4, 5, 6)

In [32]:
nested_tuple = (1, 2, (3, 4), 5, 6, (7, 8))

flattened_tuple = tuple(item for sublist in nested_tuple for item in (sublist if isinstance(sublist, tuple) else (sublist,)))

print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: (1, 2, (3, 4), 5, 6, (7, 8))
Flattened Tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [38]:
primes = []
for i in range(2, 11): 
    is_prime = True
    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(i)
        
prime= tuple(primes)
print("Tuple of the first 5 prime numbers:", prime)

Tuple of the first 5 prime numbers: (2, 3, 5, 7)

In [40]:
tuple1=(0,1,2,1,0)
tuple2= tuple1[::-1]
if(tuple1==tuple2):
    print("Tuple is palinedrome")
else:
    print("Tuple is not palinedrome")

Tuple is palinedrome

In [42]:
sqtupl=[]
for x in range(1,6):
    sqtupl.append(x**2)
print(tuple(sqtupl))

(1, 4, 9, 16, 25)

In [2]:
sqt = [1, 2, 3, 4, 5, 6, 7, 8, 9]
newt = tuple(x for x in sqt if x % 2 != 0)
print("Tuple of odd numbers:", newt)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [6]:
x=(1,2,3,4,5)
newt=tuple(x*2 for x in x)
print(newt)

(2, 4, 6, 8, 10)

In [7]:
import random
randtupl=tuple(random.randint(1,10) for _ in range(5) )
print(randtupl)

(10, 9, 1, 8, 9)

In [10]:
tuple1=(1,2,3,4,5)
if(tuple1== tuple(sorted(tuple1))):
    print("Tuple is sorted")
else:
    print("Tuple is not Sorted")

Tuple is sorted

In [11]:
tuple1=(1,2,3,4,5)
n=int(input("Enter N Value:"))
rtupl= tuple1[n:] + tuple1[:n]
print("Rotated tuple:",rtupl)

Enter N Value: 3

Rotated tuple: (4, 5, 1, 2, 3)

In [12]:
tuple1=(1,2,3,4,5)
n=int(input("Enter N Value:"))
rtupl= tuple1[-n:] + tuple1[:-n]
print("Rotated tuple:",rtupl)

Enter N Value: 3

Rotated tuple: (3, 4, 5, 1, 2)

In [13]:
fibonacci_numbers = [0, 1]

for _ in range(3):
    next_fibonacci = sum(fibonacci_numbers[-2:])
    fibonacci_numbers.append(next_fibonacci)

fibonacci_tuple = tuple(fibonacci_numbers)

print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [15]:
user_input = input("Enter elements separated by spaces: ")
input_list = user_input.split()

user_tuple = ()

for element in input_list:
    if element.isdigit():
        user_tuple += (int(element),)
    else:
        print(f"Invalid input: '{element}' is not a valid integer.")

print("Tuple created from user input:", user_tuple)

Enter elements separated by spaces:  1 2 3 4 5

Tuple created from user input: (1, 2, 3, 4, 5)

In [16]:
my_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3 
tuple_list = list(my_tuple)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)
print("Original Tuple:", my_tuple)
print("Tuple after swapping elements:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Tuple after swapping elements: (1, 4, 3, 2, 5)

In [18]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
my_list.reverse() 
new_tupl = tuple(my_list)
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", new_tupl)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [19]:
n= int(input("Enter number:"))
power=[]
for i in range(1,n+1):
    power.append(2**i)
print(tuple(power))

Enter number: 5

(2, 4, 8, 16, 32)

In [22]:
otu=("aayush","is","a","smart","boy")
print("Original Tuple:",otu)
max_len=-1
for i in otu:
    if len(i)>max_len:
        max_len= len(i)
        res=i
print("longest word:",res)

Original Tuple: ('aayush', 'is', 'a', 'smart', 'boy')
longest word: aayush

In [25]:
otu = ("aayush", "is", "a", "smart", "boy")
print("Original Tuple:", otu)

min_len = 100
res = ""

for word in otu:
    if len(word) < min_len:
        min_len = len(word)
        res = word

print("Shortest word:", res)

Original Tuple: ('aayush', 'is', 'a', 'smart', 'boy')
Shortest word: a

In [26]:
n= int(input("Enter Number:"))
tlst=[]
for j in range(1,n+1):
    tlst.append(j*(j+1)//2)
print(tuple(tlst))

Enter Number: 5

(1, 3, 6, 10, 15)

In [28]:
list1=(1,2,3,4,5,6)
list2=(2,4,6)
print("Original Tuple",list1,"Second Tuple",list2)
flag=0
if(all(a in list1 for a in list2)):
    flag=1
if(flag):
    print("Yes it's a subsequent Tuple")
else:
    print("No it's not a subsequent Tuple")

Original Tuple (1, 2, 3, 4, 5, 6) Second Tuple (2, 4, 6)
Yes it's a subsequent Tuple

In [29]:
n = 6 
alternating_tuple = tuple((i % 2) for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1)

In [1]:
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [2]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [5]:
set1.remove(6)
print(set1)

{2, 3, 4, 5}

In [8]:
set1={1,2,3,4,5}
n=int(input("Enter Element:"))
if n in set1:
    print(n,"exists")
else:
    print(n,"not exists")

Enter Element: 3

3 exists

In [9]:
set1={1,2,3,4,5,6}
length=0
for _ in set1:
    length+=1
print("Length of the set:",length)

Length of the set: 6

In [11]:
set1.clear()
print(set1)

set()

In [20]:
set1=set()
for i in range(1,11):
    if(i%2==0):
        set1.add(i)
print(set1)

{2, 4, 6, 8, 10}

In [21]:
set2=set()
for i in range(0,10):
    if(i%2!=0):
        set2.add(i)
print(set2)

{1, 3, 5, 7, 9}

In [24]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6}

In [25]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.intersection(set2)
print(set3)

{3, 4}

In [26]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.difference(set2)
print(set3)

{1, 2}

In [29]:
set1 = {1, 2, 3, 4}
set2 = {2,3}
if(set2.issubset(set1)):
    print("Set 2 is Subset of Set 1")
else:
    print("No Subset")

Set 2 is Subset of Set 1

In [30]:
set1 = {1, 2, 3, 4}
set2 = {2,3}
if(set1.issuperset(set2)):
    print("Set 1 is Superset of Set 2")
else:
    print("No Superset")

Set 1 is Superset of Set 2

In [31]:
list1=[1,2,3,4,5]
new_set= set(list1)
print(new_set)

{1, 2, 3, 4, 5}

In [32]:
print("Set:",new_set)
new_lst= list(new_set)
print("Converted List:",new_lst)

Set: {1, 2, 3, 4, 5}
Converted List: [1, 2, 3, 4, 5]

In [67]:
set1={1,2,3,4,5}
del_ele=set1.pop()
print("Deleted Element randomly is",del_ele)

Deleted Element randomly is 1

In [69]:
set1={1,2,3}
set2={4,5,6}
disjoint_ele= set1.isdisjoint(set2)
if disjoint_ele:
    print("No elements in common")
else:
    print("Atleast 1 element in common")

No elements in common

In [71]:
set1={1,2,3}
set2={4,3,2}
set3=set1.symmetric_difference(set2)
print(set3)

{1, 4}

In [73]:
set1.update(set2)
print(set1)

{1, 2, 3, 4}

In [78]:
primes=set()
num=2
for _ in range(10):
    for i in range(2, int(num**0.5)+1):
        if(num%i==0):
            break
    else:
        primes.add(num)
    num+=1
print(primes)

{2, 3, 5, 7, 11}

In [79]:
set1={1,2,3,4}
set2={1,2,3,4}
if(set1==set2):
    print("Sets are Identical")
else:
    print("Not Identical")

Sets are Identical

In [80]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)
print("Regular set:", my_set)
print("Frozen set:", my_frozen_set)

Regular set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})

In [81]:
set1={1,2,3}
set2={4,5,6}
disjoint_ele= set1.isdisjoint(set2)
if disjoint_ele:
    print("Sets are Disjoint")
else:
    print("Sets aren't Disjoint")

Sets are Disjoint

In [85]:
sqset=set()
for i in range(1,6):
    sqset.add(i*i)
print(sqset)

{1, 4, 9, 16, 25}

In [88]:
set1={1,2,3,4,5,6,7,8,9}
set1_copy=set1.copy()
for i in set1_copy:
    if(i%2==0):
        set1.remove(i)
print(set1)

{1, 3, 5, 7, 9}

In [90]:
original_set = {1, 2, 3, 4, 5}
doubled_set = {x * 2 for x in original_set}

print("Original set:", original_set)
print("Doubled set:", doubled_set)

Original set: {1, 2, 3, 4, 5}
Doubled set: {2, 4, 6, 8, 10}

In [94]:
import random
random_set={random.randint(1,10) for _ in range(5)}
print(random_set)

{8, 4, 5, 7}

In [96]:
set1=set()
if not set1:
    print("Set is empty")
else:
    print("Set is not empty")

Set is empty

In [97]:
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8})}
print("Nested set:", nested_set)

Nested set: {frozenset({3, 4, 5}), frozenset({8, 6, 7}), frozenset({1, 2})}

In [98]:
set1={1,2,3}
x=2
set1.discard(x)
print(set1)

{1, 3}

In [99]:
set1={1,2,3}
set2={1,2,3}
if set1==set2:
    print("Set are equal")
else:
    print("Set are not equal")

Set are equal

In [101]:
strset= str(input("Enter a string:"))
new_set=set(strset.split(' '))
print(new_set)

Enter a string: aayush is a good boy

{'aayush', 'good', 'boy', 'a', 'is'}

In [102]:
str_set={'1','2','3'}
int_set=set()
for i in str_set:
    int_set.add(int(i))
print(int_set)

{1, 2, 3}

In [104]:
int_set={1,2,3,4,5}
str_set=set()
for i in int_set:
    str_set.add(str(i))
print(str_set)

{'1', '5', '4', '3', '2'}

In [105]:
tuple1=(1,2,3,4,5)
neset= set(tuple1)
print(neset)

{1, 2, 3, 4, 5}

In [106]:
neset1={1,2,3,4,5}
tuple2= tuple(neset1)
print(tuple2)

(1, 2, 3, 4, 5)

In [107]:
neset1={10,11,17,9,21}
max_value=max(neset1)
print(max_value)

21

In [108]:
neset1={10,11,17,9,21}
min_value=min(neset1)
print(min_value)

9

In [109]:
user_input_str = input("Enter elements separated by spaces: ")
elements_list = user_input_str.split()
user_set = set(elements_list)
print("User-created set:", user_set)

Enter elements separated by spaces:  aayush is a good boy

User-created set: {'aayush', 'good', 'boy', 'a', 'is'}

In [112]:
set1={1,2,3}
set2={4,5,6}
set3= set1.intersection(set2)
if not set3:
    print("NO Intersection")
else:
    print(set3)

NO Intersection

In [114]:
fibonacci_numbers = [0, 1]

for _ in range(4):
    next_fibonacci = sum(fibonacci_numbers[-2:])
    fibonacci_numbers.append(next_fibonacci)

fibonacci_set = set(fibonacci_numbers)

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [115]:
list1=[0,1,1,2,2,3,4,4,5]
print(set(list1))

{0, 1, 2, 3, 4, 5}

In [117]:
set1={1,2,2,3,4,4}
set2={2,4,4,5}
set3=set1.intersection(set2)
if not set3:
    print("No Intersection")
else:
    print("Intersecting elements regardless of their count",set3)

Intersecting elements regardless of their count {2, 4}

In [126]:
my_set=set()
n=int(input("Enter N:"))
for i in range(1,n+1):
    my_set.add(2**i)
    
print(my_set)

Enter N: 4

{8, 16, 2, 4}

In [128]:
set1={1,2,3,4,5,6}
lis1=[2,3,7,8,9]
set3= set1.intersection(set(lis1))
if not set3:
    print("No Intersection")
else:
    print("Common Elements after Intersection:",set3)

Common Elements after Intersection: {2, 3}

In [130]:
n= int(input("Enter Number:"))
tset=set()
for j in range(1,n+1):
    tset.add(j*(j+1)//2)
print(tset)

Enter Number: 6

{1, 3, 6, 10, 15, 21}

In [132]:
set1={1,2,3,4,5}
set2={4,5}
set3=set2.issubset(set1)
if not set3:
    print("No subset")
else:
    print("Subset:",set3)

Subset: True

In [134]:
n = 2
alternating_set = set((i % 2) for i in range(n))
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}